<html>
	<head>
		<title>{% block title %}Forrest Travel{% endblock %}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	    <script src="js/jquery.flexslider-min.js"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/flexslider.css">
		<link href="https://fonts.googleapis.com/css?family=Candal|Open+Sans" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>


	<body>
		{% block content %}Bienvenue sur la page de base{% endblock %}
	</body>
</html>
