{% extends "layout.twig" %}

{% block title %} flickr - Page d'accueil{% endblock %}


{% block content %}

<form action="" method="post">
	<p>
    	<label>Thème : <input type="text" name="theme" /></label>
    </p>

    <p>
    	<input type="submit" value="ENVOYER" />
    	
    </p>    
</form>
<div>

	image flickr


</div>

{% endblock %}
