{% extends "layout.twig" %}


{% block title %}{{ parent() }} - Page d'accueil{% endblock %}

{% block content %}

<form action="index.php/testPageForm" method="post">
	<p>
    	<label>Tapez un thème : <input type="text" name="lastname" /></label>
    </p>
   
    <p>
    	<input type="submit" value="envoyer" />
    </p>    
</form>

{% endblock %}
